/* stylelint-disable no-descending-specificity */
.spollers {
	&__item {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		@include adaptive-font(22, 16);
		position: relative;
		display: flex;
		align-items: center;
		border-radius: 20px;
		padding: 30px 40px;
		padding-right: 100px;
		width: 100%;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
		color: var(--dark-text-color);
		background-color: var(--light-color);
		transition: all 0.3s;
		gap: 30px;

		@media (max-width: 768px) {
			padding: 30px 20px;
			padding-right: 60px;
		}
	}

	&__title.active {
		color: var(--light-color);
		background-color: var(--accent-color);

		.spollers__icon::before,
		.spollers__icon::after {
			background-color: var(--light-color);
		}

		.spollers__icon::after {
			transform: translateX(50%) rotate(90deg);
		}

		.spollers__icon-question {
			fill: var(--light-color);
		}

		.spollers__icon--arrow {
			fill: var(--light-color);
		}
	}

	&__text {
		@include adaptive-font(18, 16);
		padding: 30px;
		font-weight: 500;
		line-height: 126%;
	}

	&__icon {
		position: absolute;
		right: 40px;
		top: 50%;
		width: 40px;
		height: 40px;
		transform: translateY(-50%);

		&::before,
		&::after {
			content: '';
			position: absolute;
			background-color: var(--accent-color);
			transition: transform 0.3s ease 0s;
		}

		&::before {
			top: 50%;
			width: 100%;
			height: 7px;
			transform: translateY(-50%);
			@media (max-width: 768px) {
				height: 4px;
			}
		}

		&::after {
			right: 50%;
			width: 7px;
			height: 100%;
			transform: translateX(50%);
			@media (max-width: 768px) {
				width: 4px;
			}
		}

		&-question {
			width: 40px;
			height: 40px;
			fill: var(--accent-color);

			@media (max-width: 768px) {
				display: none;
			}
		}

		@media (max-width: 768px) {
			right: 20px;
			width: 25px;
			height: 25px;
		}
	}
}
