.calc {
	border-radius: 30px;
	max-width: 1200px;

	&__header {
		border-radius: 30px 30px 0 0;
		padding: 0 100px;
		color: var(--light-color);
		background-color: var(--accent-color);

		&--desktop {
			@media (max-width: 768px) {
				display: none;
			}
		}

		&--mobile {
			display: none;
			padding: 30px;

			@media (max-width: 768px) {
				display: flex;
			}
		}
	}

	&__list {
		display: flex;
		margin: 0 auto;
		width: fit-content;
		gap: 70px;
	}

	&__item {
		position: relative;
		padding: 40px 0;
		font-weight: 400;
		text-align: center;
		color: var(--light-color);

		&::after {
			content: '';
			position: absolute;
			right: -35px;
			top: 50%;
			border-radius: 30px;
			width: 3px;
			height: 75px;
			background-color: var(--light-color);
			transform: translateY(-50%);
		}

		&:last-child {
			&::after {
				display: none;
			}
		}

		@media (max-width: 768px) {
			padding: 40px 0;
		}
	}

	&__button {
		@media (min-width: 1200px) {
			font-size: 24px;
		}

		@media (min-width: 768px) {
			transition: filter 0.3s;

			&:hover {
				filter: brightness(75%);
			}
		}
	}
}

.calc-form {
	&__control {
		display: flex;
		justify-content: space-between;
		padding: 25px 100px;
		background-color: var(--light-color);

		@media (max-width: 992px) {
			flex-direction: column;
			align-items: start;
		}

		@media (max-width: 768px) {
			padding: 25px 40px;
		}

		@media (max-width: 576px) {
			gap: 15px;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		max-width: 340px;
	}

	&__body {
		border-radius: 0 0 30px 30px;
		background-color: var(--gallery-color);
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid var(--accent-color);
		padding: 25px 40px;

		@media (max-width: 992px) {
			flex-direction: column;
			align-items: start;
			gap: 40px;
		}
	}

	&__button {
		@media (max-width: 576px) {
			width: 100%;
		}
	}

	&__text {
		margin: 0;
		max-width: 475px;
		font-weight: 400;
		line-height: 126%;
		color: var(--text-color);
	}

	&__data {
		padding: 25px 40px;
	}
}

.calc-square {
	&__text {
		font-weight: 400;
		font-size: 20px;
		text-align: center;
		color: var(--dark-color);
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 50px;
		padding: 10px;
		background-color: var(--gallery-color);

		@media (max-width: 576px) {
			width: 100%;
		}
	}

	&__button {
		font-weight: 700;
		font-size: 30px;
	}

	&__input {
		all: unset;
		max-width: 260px;
		box-sizing: border-box;
		font-size: 30px;
		text-align: center;
	}

	@media (max-width: 576px) {
		width: 100%;
	}
}

.calc-unit {
	&__text {
		font-weight: 400;
		font-size: 20px;
		text-align: center;
		color: var(--dark-color);
	}

	&__value {
		display: flex;
		justify-content: center;
		border-radius: 50px;
		padding: 10px;
		min-width: 315px;
		font-size: 30px;
		background-color: var(--gallery-color);

		@media (max-width: 576px) {
			width: 100%;
		}
	}

	@media (max-width: 576px) {
		width: 100%;
	}
}

.calc-price {
	display: flex;
	flex-direction: column;
	gap: 10px;

	&__value {
		@include adaptive-font(40, 24);
		font-weight: 600;
		font-size: 40px;
		line-height: 126%;
		text-align: center;
		color: var(--dark-text-color);

		&--accent-color {
			color: var(--accent-color);
		}
	}

	&__button {
		@media (max-width: 576px) {
			display: none;
		}
	}

	@media (max-width: 768px) {
		gap: 20px;
	}

	@media (max-width: 576px) {
		width: 100%;
	}
}

.calc-data {
	&__items {
		display: grid;
		align-items: center;
		grid-template-columns: 2fr 2fr;
		margin-bottom: 30px;
		gap: 15px;

		@media (max-width: 992px) {
			display: flex;
			flex-direction: column;
			align-items: stretch;
		}
	}

	&__item {
		max-width: 530px;

		@media (max-width: 576px) {
			width: 100%;
		}
	}

	&__input {
		width: 530px;

		@media (max-width: 1200px) {
			width: 420px;
		}

		@media (max-width: 576px) {
			width: 100%;
		}
	}

	&__button {
		display: block;
		margin: 0 auto;
	}
}
