.section {
	padding-top: 45px;
	padding-bottom: 95px;

	&-hero {
		padding-top: 95px;
		padding-bottom: 50px;
		min-height: 900px;
		background: linear-gradient(90deg, var(--gradient-color) 30.98%, rgb(30 30 30 / 0%) 99.81%),
			url('@img/hero/hero-bg.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&--gray-bg {
		background-color: var(--concrete-color);
	}
}
