.section {
	padding-top: 45px;
	padding-bottom: 95px;

	&-hero {
		padding-top: 95px;
		padding-bottom: 50px;
		min-height: 900px;
		background: linear-gradient(90deg, var(--gradient-color) 30.98%, rgb(30 30 30 / 0%) 99.81%),
			url('@img/hero/hero-bg.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&-calc {
		background: linear-gradient(90deg, var(--gradient-color) 30.98%, rgb(30 30 30 / 0%) 99.81%),
			url('@img/cost-calc/cost-calc-bg.jpg');
		background-position: top center;
		background-size: 1445px;
		background-repeat: no-repeat;
	}

	&--gray-bg {
		background-color: var(--concrete-color);
	}
}

.title {
	@include adaptive-font(32, 20);
	position: relative;
	margin: 0;
	margin-bottom: 110px;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	line-height: 126%;
	text-transform: uppercase;
	color: var(--dark-text-color);

	&::after {
		content: '';
		position: absolute;
		left: 50%;
		bottom: -25px;
		width: 450px;
		height: 4px;
		background-image: url('@img/underline-part.svg');
		transform: translateX(-50%);
	}

	&--no-underline {
		&::after {
			display: none;
		}
	}

	@media (max-width: 1200px) {
		margin-bottom: 70px;

		&::after {
			bottom: -50px;
			width: 315px;
		}
	}
}

.item {
	@include adaptive-font(24, 16);
	padding-left: 35px;
	font-weight: 500;
	background-position: top left;
	background-repeat: no-repeat;
}
