html {
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	@include adaptive-font(20, 16);
	margin: 0;
	height: 100%;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	line-height: 126%;
	color: var(--dark-text-color);
	background-color: var(--light-color);

	&.lock {
		overflow: hidden;
	}
}

.site-container {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}

.main {
	flex: 1 1 auto;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: $container-width + px;
}

img {
	max-width: 100%;
	object-fit: cover;
}

.link-reset {
	text-decoration: none;
	color: inherit;
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

.btn-reset {
	border: none;
	padding: 0;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.is-hidden {
	display: none;
}

.error {
	border: 2px rgb(240 100 100) solid;
}

.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}
