// * Максимальная ширина макета
$container-width: 1230;

:root {
	// * Colors
	--dark-color: #000;
	--light-color: #fff;
	--bg-color: #e27d5f;
	--accent-color: #9fd4ff;
	--dark-text-color: #4d4d4d;
}
