// * Максимальная ширина макета
$container-width: 1230;

:root {
	// * Colors
	--dark-color: #000;
	--light-color: #fff;
	--bg-color: #e27d5f;
	--accent-color: #d76b07;
	--text-color: #5a5958;
	--dark-text-color: #4d4d4d;
	--san-juan-color: #345472;
	--concrete-color: #f2f2f2;
	--gallery-color: #efefef;
	--gradient-color: #1e3245;
	--peach-schnapps: #ffdcd3;
	--alto-color: #d9d9d9;
}
