// * Global styles (Шрифты, переменные, сбросы)
@import 'libs/normalize';
@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'settings';
@import 'interface';

// * Libs styles
// @import "libs/animate";

// * Подключение стилей swiper-слайдера
// @import 'swiper/css/bundle';
// @import "components/sliders";
@import '../../node_modules/swiper/swiper-bundle.min';

// * Main styles
@import '../components/header/header';
@import 'chunk/hero';
@import 'chunk/about';
@import 'chunk/which';
@import 'chunk/application';
@import 'chunk/guarantee';
@import 'chunk/services';
@import 'chunk/prices';
@import 'chunk/cost-calc';
@import '../components/calc/calc';
@import '../components/select/select';
@import 'chunk/advantages';
@import 'chunk/projects';
@import 'chunk/team';
@import 'chunk/varieties';
@import 'chunk/price';
@import 'chunk/process';
@import 'chunk/questions';
@import 'chunk/prices-page';
@import 'chunk/our-projects';
@import 'chunk/skills';
@import 'chunk/consultation';
@import 'chunk/footer';
@import 'chunk/contacts';
@import '../components/modal-city/modal-city';
@import '../components/spollers/spollers';
