.header {
	width: 100%;
	background-color: var(--light-color);

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		padding: 20px 15px;
		min-height: 70px;
		max-width: $container-width + px;

		&--bottom {
			max-width: 1050px;
		}

		@media (max-width: 576px) {
			padding: 5px 15px;
		}
	}

	&__logo {
		z-index: 5;
		display: block;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 15px;

		@media (max-width: 768px) {
			flex-direction: row-reverse;
			gap: 20px;
			align-items: center;
		}
	}

	&__link {
		@media (max-width: 576px) {
			padding: 5px 8px;
		}
	}

	&__right {
		display: flex;
		align-items: center;
		gap: 40px;

		@media (max-width: 768px) {
			flex-direction: column;
			gap: 10px;
		}
	}

	&.fixed {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 10;
	}
}

.header-city {
	background-color: var(--concrete-color);

	&__wrap {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__icon {
		width: 23px;
		height: 36px;

		& use {
			fill: var(--accent-color);
		}
	}

	&__link {
		@include adaptive-font(20, 14);
		font-family: Poppins, sans-serif;
		color: var(--dark-color);
	}
}

.logo__img {
	width: 145px;
	height: auto;
	fill: var(--light-color);

	@media (max-width: 576px) {
		width: 60px;
	}
}

.header-info {
	border-radius: 10px;
	padding: 10px 15px;
	background-color: var(--oasis-color);

	&__item {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__icon {
		&--time {
			width: 28px;
			height: 28px;
		}

		&--geo {
			width: 23px;
			height: 36px;

			& use {
				fill: var(--accent-color);
			}
		}
	}

	&__text {
		max-width: 250px;
		font-family: Poppins, sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 16px;
		color: var(--dark-text-color);
	}

	@media (max-width: 1200px) {
		display: none;
	}
}

.header-phone {
	display: flex;
	gap: 17px;
	align-items: center;

	&__icon {
		width: 37px;
		height: 37px;

		& use {
			fill: var(--accent-color);
		}
	}
}

.header-socials {
	display: flex;
	gap: 20px;
	margin: 0 auto;

	&__icon {
		width: 30px;
		height: 30px;

		@media (max-width: 576px) {
			width: 20px;
			height: 20px;
		}
	}

	@media (max-width: 576px) {
		gap: 10px;
	}
}

.menu {
	background-color: var(--accent-color);

	&__burger {
		display: none;
	}

	&__body {
		width: 100%;
	}

	&__list {
		justify-content: space-between;
	}

	&__item {
		margin-right: 20px;
		text-transform: uppercase;

		&:last-child {
			margin: 0;
		}
	}

	&__link {
		position: relative;
		color: var(--light-color);

		&::after {
			content: '';
			position: absolute;
			left: 50%;
			bottom: -3px;
			width: 0;
			height: 2px;
			background-color: currentcolor;
			opacity: 0;
			visibility: hidden;
			transform: translateX(-50%);
			transition: width 0.5s;
		}

		&:hover {
			&::after {
				width: 100%;
				opacity: 1;
				visibility: visible;
			}
		}

		@media (max-width: 768px) {
			color: var(--dark-text-color);
		}
	}
}

@media (min-width: 767px) {
	.menu__list {
		display: flex;
		align-items: center;
	}

	.menu__item {
		padding: 10px 0;
	}
}

@media (max-width: 767px) {
	.menu__burger {
		position: relative;
		z-index: 15;
		display: block;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}

	.burger {
		&__line,
		&::before,
		&::after {
			position: absolute;
			left: 0;
			width: 100%;
			height: 10%;
			background-color: var(--light-color);
			transition: all 0.3s ease 0s;
		}

		&::before,
		&::after {
			content: '';
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		& span {
			top: 50%;
			transform: scale(1) translate(0, -50%);
		}

		&.active span {
			transform: scale(0) translate(0, -50%);
		}

		&.active::before {
			top: 50%;
			transform: rotate(-45deg) translate(0, -50%);
		}

		&.active::after {
			bottom: 50%;
			transform: rotate(45deg) translate(0, 50%);
		}
	}

	.menu__body {
		position: fixed;
		left: -100%;
		bottom: 0;
		z-index: 10;
		overflow: auto;
		padding: 100px 30px 30px;
		width: 100%;
		height: calc(100% - 75px);
		background-color: var(--light-color);
		transition: left 0.3s ease 0s;

		&.active {
			left: 0;
		}

		// * Стили для плашки фиксированного меню (закомментировать если не нужна фиксипрованная шапка)

		// &::before{
		//   z-index: 15;
		//   content: "";
		//   position: fixed;
		//   width: 100%;
		//   top: 0;
		//   left: 0;
		//   height: 70px;
		//   background-color: #b4b4b4;
	}

	.menu__item {
		flex-wrap: wrap;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.menu__link {
		@include adaptive-font(20, 16);
	}
}
