.calc-select {
	position: relative;
	width: 100%;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		cursor: pointer;
	}

	&__current {
		padding: 8px;
		font-size: 18px;
		line-height: 24px;
	}

	&__icon {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		margin-left: auto;
		width: 40px;
		height: 40px;
		text-align: center;
		transition: transform 0.2s;
	}

	&__body {
		position: absolute;
		left: 0;
		right: 0;
		top: 80%;
		display: none;
		overflow: hidden;
		border: 1px solid var(--accent-color);
		border-radius: 15px;
		color: var(--dark-text-color);
		background-color: var(--light-color);
	}

	&__item {
		padding: 8px;
		font-size: 16px;
		line-height: 24px;
		transition: color 0.2s;
		cursor: pointer;

		&:hover {
			color: var(--dark-color);
		}
	}

	&.is-active {
		.calc-select__body {
			display: block;
		}

		.calc-select__icon {
			transform: rotate(180deg);
		}
	}
}
