.about {
	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 105px;
		gap: 45px;
	}

	&__img {
		height: auto;
		max-width: 278px;
	}

	&__title {
		@include adaptive-font(32, 16);
		margin-bottom: 35px;
		color: var(--accent-color);
	}

	&__text {
		margin: 0;
		margin-bottom: 35px;
		font-family: Poppins, sans-serif;
		font-weight: 500;

		&:last-child {
			margin: 0;
		}
	}

	&__cards {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		gap: 50px;
	}
}

.about-card {
	display: flex;
	align-items: center;
	justify-content: end;
	border-radius: 20px;
	padding: 50px;
	width: 100%;
	min-height: 210px;
	max-width: 565px;
	font-size: 30px;
	color: var(--light-color);
	background-position: center left 50px;
	background-repeat: no-repeat;
	background-color: var(--san-juan-color);

	&__text {
		@include adaptive-font(30, 20);
		margin: 0;
		max-width: 305px;
		line-height: 126%;
	}

	&--price {
		background-image: url('@img/about/about-2.svg');
	}

	&--grade {
		background-image: url('@img/about/about-3.svg');
	}
}
