.about {
	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 105px;
		gap: 45px;
	}

	&__row {
		display: flex;
		align-items: center;
		margin-bottom: 35px;
		gap: 20px;

		@media (max-width: 480px) {
			gap: 15px;
			margin-bottom: 20px;
		}
	}

	&__img {
		height: auto;
		max-width: 278px;

		&--mobile {
			display: none;
			max-width: 150px;

			@media (max-width: 768px) {
				display: inline-block;
			}

			@media (max-width: 480px) {
				max-width: 50px;
			}
		}

		&--desktop {
			@media (max-width: 768px) {
				display: none;
			}
		}
	}

	&__title {
		@include adaptive-font(32, 16);
		margin: 0;
		line-height: 126%;
		text-transform: uppercase;
		color: var(--accent-color);
	}

	&__text {
		margin: 0;
		margin-bottom: 35px;
		font-family: Poppins, sans-serif;
		font-weight: 500;

		&:last-child {
			margin: 0;
		}
	}

	&__cards {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		gap: 30px;

		@media (max-width: 1200px) {
			flex-direction: column;
			align-items: center;
		}
	}
}

.about-card {
	@include adaptive-font(26, 20);
	display: flex;
	align-items: center;
	justify-content: end;
	border-radius: 20px;
	padding: 50px;
	width: 100%;
	min-height: 210px;
	max-width: 565px;
	color: var(--light-color);
	background-position: center left 50px;
	background-size: 100px;
	background-repeat: no-repeat;
	background-color: var(--san-juan-color);

	&__text {
		@include adaptive-font(30, 20);
		margin: 0;
		max-width: 305px;
		line-height: 126%;

		@media (max-width: 576px) {
			margin-left: 140px;
		}
	}

	&--price {
		background-image: url('@img/about/about-2.svg');
	}

	&--grade {
		background-image: url('@img/about/about-3.svg');
	}

	@media (max-width: 576px) {
		padding: 25px;
		min-height: 130px;
		background-size: 50px;
	}
}
