/* stylelint-disable no-descending-specificity */
.advantages {
	counter-reset: num 0;
	padding-top: 200px;

	&__cards {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__card {
		position: relative;
		margin-bottom: 60px;
		border-radius: 20px;
		padding: 15px;
		max-width: 890px;
		color: var(--san-juan-color);
		background-color: var(--light-color);
		filter: drop-shadow(0 4px 30px rgb(0 0 0 / 35%));

		&::after {
			content: '';
			position: absolute;
			right: -40px;
			top: 50%;
			border-radius: 0 18px 18px 0;
			width: 40px;
			height: 205px;
			background-color: var(--san-juan-color);
			transform: translateY(-50%);

			@media (max-width: 1200px) {
				right: 50%;
				top: unset;
				bottom: -40px;
				border-radius: 0 0 18px 18px;
				width: 205px;
				height: 40px;
				transform: unset;
				transform: translateX(50%);
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:nth-child(even) {
			color: var(--accent-color);

			&::after {
				background-color: var(--accent-color);
			}

			.advantages__num::before {
				background: linear-gradient(45deg, #d76b07 50%, #ff9432 50%);
			}
		}

		@media (max-width: 1200px) {
			margin-bottom: 250px;
		}
	}

	&__inner {
		position: relative;
		z-index: -1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 20px;
		padding: 40px;
		padding-left: 150px;
		max-width: 890px;
		background: linear-gradient(90deg, #efefef 0%, #fff 100%);
		gap: 100px;

		@media (max-width: 1200px) {
			display: flex;
			flex-direction: column;
			padding: 8px 20px;
			padding-top: 100px;
		}
	}

	&__num {
		@include adaptive-font(128, 96);
		counter-increment: num;
		position: absolute;
		left: -15%;
		width: 220px;
		height: 220px;
		font-family: Poppins, sans-serif;
		color: currentcolor;

		&::before {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			z-index: -1;
			border-radius: 50%;
			width: 265px;
			height: 265px;
			background: linear-gradient(45deg, #5b90c2 50%, #345472 50%);
			transform: translate(-50%, -50%);
		}

		&::after {
			content: counter(num);
			position: absolute;
			right: 50%;
			top: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			width: 220px;
			height: 220px;
			background-color: var(--light-color);
			transform: translate(50%, -50%);
		}

		@media (max-width: 1200px) {
			left: 50%;
			top: -200px;
			width: 200px 200px;
			transform: translate(-50%, 15%);
		}
	}

	&__text {
		@include adaptive-font(22, 20);
		margin: 0;
		max-width: 565px;
		font-family: Poppins, sans-serif;
		font-weight: 400;
		color: var(--dark-text-color);
	}

	&__icon {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			left: -50px;
			top: 50%;
			width: 1px;
			height: 150px;
			background-color: var(--dark-text-color);
			transform: translateY(-50%);

			@media (max-width: 1200px) {
				left: 50%;
				top: -20px;
				width: 150px;
				height: 1px;
				transform: translateX(-50%);
			}
		}

		svg {
			flex-shrink: 0;
			width: 130px;
		}
	}
}
