.consultation {
	display: flex;
	justify-content: space-between;

	&__texts {
		max-width: 560px;

		@media (max-width: 768px) {
			max-width: 100%;
		}
	}

	&__title {
		margin-bottom: 85px;
		color: var(--light-color);

		@media (max-width: 992px) {
			margin-bottom: 40px;
		}
	}

	&__text {
		@include adaptive-font(20, 16);
		margin: 0;
		font-weight: 400;
		line-height: inherit;
		color: var(--light-color);
	}

	&__form {
		display: flex;
		flex-direction: column;
		max-width: 530px;
		gap: 20px;

		@media (max-width: 768px) {
			max-width: 100%;
		}
	}

	&__policy {
		color: var(--light-color);
	}

	&__button {
		&:hover {
			color: var(--light-color);
		}
	}

	@media (max-width: 992px) {
		flex-direction: column;
		gap: 30px;
	}
}
