.cost-calc {
	&__title {
		text-align: center;
		color: var(--light-color);
	}

	&__text {
		margin: 0 auto;
		margin-bottom: 70px;
		max-width: 835px;
		font-weight: 400;
		text-align: center;
		color: var(--light-color);
	}
}
