.hero {
	&__wrap {
		max-width: 755px;
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 768px) {
			gap: 10px;
			justify-content: space-around;
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 25px;
		max-width: 200px;
	}

	&__text {
		margin: 0;
		font-weight: 500;
		font-size: 20px;
		line-height: 126%;
		text-align: center;
		text-transform: lowercase;
		color: var(--light-color);
	}
}

.hero-content {
	margin-bottom: 45px;

	&__title {
		@include adaptive-font(40, 24);
		margin-bottom: 70px;
		color: var(--light-color);

		&::after {
			left: 0;
			transform: none;
		}
	}

	&__text {
		@include adaptive-font(32, 20);
		margin: 0;
		font-weight: 400;
		line-height: 126%;
		color: var(--light-color);
	}
}

.hero-card {
	&__icon {
		width: 40px;
		height: 52px;

		@media (max-width: 576px) {
			width: 20px;
			height: 26px;
		}
	}

	&__text {
		margin: 0;
		max-width: 150px;
		font-weight: 500;
		font-size: 18px;
		text-align: center;
		text-transform: lowercase;
		color: var(--light-color);
	}
}
