.prices {
	&__title {
		text-align: center;
	}

	.price__row {
		&:last-child {
			border-bottom: 1px solid var(--accent-color);
		}
	}

	.spollers__icon {
		&::before,
		&::after {
			display: none;
		}

		&-question {
			width: 40px;
			height: 40px;
			fill: var(--dark-text-color);
			rotate: 90deg;
		}
	}
}
