.price {
	&__content {
		margin-bottom: 35px;
	}

	&__title {
		margin-bottom: 35px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	.price-item--one {
		background-image: url('@img/price/price-1.svg');
	}

	.price-item--two {
		background-image: url('@img/price/price-2.svg');
	}

	.price-item--three {
		background-image: url('@img/price/price-3.svg');
	}
}

.price-wrap {
	display: flex;
	flex-direction: column;
	margin-bottom: 75px;
	gap: 25px;

	&__text {
		@include adaptive-font(20, 14);
		margin: 0;
		font-weight: 500;
	}
}

.price-wrap-text {
	&--price {
		margin: 0 auto;
		border-radius: 10px;
		padding: 30px 20px;
		max-width: 1145px;
		font-weight: 700;
		background-color: var(--peach-schnapps);
	}
}

.price-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--alto-color);
	gap: 20px;

	&__text {
		@include adaptive-font(20, 14);
		margin: 0;
		font-weight: 500;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-width: 395px;
	}

	&__text-price {
		text-transform: lowercase;
	}

	&__btn {
		border-radius: 50px;
		padding: 10px 25px;
		font-weight: 700;
		font-size: 20px;
		line-height: 126%;
		color: var(--light-color);
		background-color: var(--accent-color);
	}

	&:last-child {
		margin: 0;
	}
}
