.price {
	&__content {
		margin-bottom: 35px;
	}

	&__title {
		margin-bottom: 35px;
	}

	&__descr {
		@include adaptive-font(24, 16);
		margin: 0;
		border-radius: 10px;
		line-height: 126%;
		text-transform: uppercase;

		&--bg {
			padding: 30px;
			color: var(--light-color);
			background-color: var(--accent-color);
		}
	}

	&-rows {
		margin-bottom: 25px;
		border-bottom: 1px solid var(--accent-color);
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	.price-item--one {
		background-image: url('@img/price/price-1.svg');
	}

	.price-item--two {
		background-image: url('@img/price/price-2.svg');
	}

	.price-item--three {
		background-image: url('@img/price/price-3.svg');
	}
}

.price-wrap {
	display: flex;
	flex-direction: column;
	margin-bottom: 75px;
	gap: 25px;

	&__text {
		margin: 0;
		font-weight: 500;
	}
}

.price-wrap-text {
	&--price {
		margin: 0 auto;
		border-radius: 10px;
		padding: 30px 20px;
		max-width: 1145px;
		font-weight: 700;
		background-color: var(--peach-schnapps);
	}
}
