.price {
	&__wrap {
		margin-bottom: 35px;
	}

	&__title {
		margin-bottom: 35px;
	}

	&__descr {
		@include adaptive-font(24, 16);
		margin: 0;
		border-radius: 10px;
		line-height: 126%;
		text-transform: uppercase;

		&--bg {
			padding: 30px;
			color: var(--light-color);
			background-color: var(--accent-color);
		}
	}

	&__list {
		counter-reset: number 0;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__item {
		display: flex;
		padding: 0;
		gap: 10px;
	}

	&__number {
		counter-increment: number;
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		border: 3px solid var(--accent-color);
		border-radius: 100%;
		width: 25px;
		height: 25px;
		font-weight: 700;
		font-size: 14px;
		color: var(--accent-color);

		&::before {
			content: counter(number);
		}
	}
}
