.projects {
	&__title {
		text-align: center;
	}

	&__inner {
		position: relative;
	}

	&__card {
		margin: 0 auto;
		border: 2px solid var(--accent-color);
		border-radius: 20px;
		min-height: 535px;
		max-width: 350px;
	}

	&__img {
		border-radius: 20px 20px 0 0;
		width: 346px;
		height: 330px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__text {
		@include adaptive-font(17, 16);
		margin: 0;
		padding: 30px 25px 70px;
		text-align: center;
		text-transform: uppercase;
	}
}
