.skills {
	&__title {
		margin: 0;
		margin-bottom: 40px;
		text-align: center;
	}

	&__wrap {
		display: flex;
		align-items: center;
		gap: 20px;
		justify-content: center;

		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	&__btn {
		@include adaptive-font(24, 16);
		border: 1px solid var(--accent-color);
		border-radius: 40px;
		padding: 20px 30px;
		font-weight: 700;
		font-style: normal;
		line-height: 126%;
		text-align: center;
		color: var(--light-color);
		background-color: var(--accent-color);
	}
}

.skills-btn {
	&--skills {
		color: var(--accent-color);
		background-color: var(--light-color);
	}
}

.section-skills {
	&--pading {
		padding-top: 25px;
	}
}
