.skills {
	&__title {
		margin: 0;
		margin-bottom: 40px;
		text-align: center;
	}

	&__wrap {
		display: flex;
		align-items: center;
		gap: 20px;
		justify-content: center;

		@media (max-width: 768px) {
			flex-direction: column;
		}
	}
}

.section-skills {
	&--pading {
		padding-top: 25px;
	}
}
