.team {
	&__title {
		text-align: center;
	}

	&__wrapper {
		position: relative;
	}

	&__card {
		flex-shrink: 0;
		margin: 0 auto;
		border: 2px solid var(--accent-color);
		border-radius: 20px;
		padding-bottom: 25px;
		max-width: 350px;
	}

	&__wrap {
		border-radius: 15px 15px 0 0;
		padding: 40px 25px 30px;
		background-color: var(--accent-color);
	}

	&__img {
		margin-right: auto;
		margin-bottom: 15px;
		margin-left: auto;
		border-radius: 100px;
		width: 173px;
		height: 173px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__subtitle {
		margin: 0;
		margin-bottom: 15px;
		font-size: 20px;
		line-height: 126%;
		text-align: center;
		text-transform: uppercase;
		color: var(--light-color);
	}

	&__text {
		margin: 0;
		font-size: 16px;
		text-align: center;
		color: var(--light-color);
	}

	&__inner {
		padding: 40px 25px;
	}
}

.team-inner {
	&__list {
		padding-left: 25px;
	}

	&__title {
		position: relative;
		margin: 0;
		font-weight: 700;
		font-size: 16px;
		line-height: 126%;
		text-transform: capitalize;

		&::before {
			content: '';
			position: absolute;
			left: -27px;
			top: 0;
			width: 20px;
			height: 20px;
			background-image: url('@img/icons/sprite.svg#arrow-right');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}

	&__text {
		margin: 0;
		margin-bottom: 15px;
		font-weight: 400;
		font-size: 16px;
		text-transform: capitalize;
	}

	&__btn {
		display: block;
		margin: 0 auto;
		padding: 10px 25px;
	}
}
