.varieties {
	&__wrap {
		margin-bottom: 90px;
	}

	&__text {
		margin: 0;
		margin-bottom: 35px;
		font-weight: 500;
	}

	&__title {
		margin-bottom: 35px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__inner {
		position: relative;
	}

	&__item {
		background-image: url('@img/varieties/varieties-1.svg');
	}

	&__icon {
		width: 24px;
		height: 24px;
	}

	&__card {
		margin: 0 auto;
		border: 6px solid var(--accent-color);
		border-radius: 15px;
		max-width: 365px;
	}

	&__img {
		border-radius: 10px;
		height: 513px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}
