.which {
	&__title {
		text-align: center;
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 15px;
	}

	&__card {
		border-radius: 10px;
		max-width: 285px;
		background-color: var(--light-color);
	}

	&__img {
		border-radius: 10px 10px 0 0;
		width: 285px;
		height: 183px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__subtitle {
		margin: 0;
		padding: 40px 15px 50px;
		font-size: 20px;
		text-align: center;
		text-transform: uppercase;
	}
}
