<div class="modal" id="modalCity">
	<div class="modal__body">
		<div class="modal__content">
			<a class="modal__close close-modal" href="#header">
				<svg class="close-modal__icon">
					<use href="img/icons/sprite.svg#close"></use>
				</svg>
			</a>
			<div class="modal__title">Мы работаем в следующих городах</div>
			<label class="modal__label" for="modal-search">
				<input class="modal__search" id="modal-search" type="text" placeholder="Введите город">
			</label>
			<div class="modal__slides modal-slides">
				<button class="modal-slides__btn modal-slides__btn--prev btn-reset">
					<svg class="modal-slides__icon--btn">
						<use href="img/icons/sprite.svg#slide-arrow-prev"></use>
					</svg>
				</button>
				<div class="modal-slides__item">

					<ul class="city-list list-reset">
						<!-- <li class="city-list__item list-reset">
							<svg class="city-list__icon">
								<use href="img/icons/sprite.svg#arrow-right"></use>
							</svg>
							<a class="city-list__link link-reset" href="#">Апрелевка</a>
						</li> -->
					</ul>

				</div>
				<button class="modal-slides__btn modal-slides__btn--next btn-reset">
					<svg class="modal-slides__icon--btn">
						<use href="img/icons/sprite.svg#slide-arrow-next"></use>
					</svg>
				</button>
			</div>
		</div>
	</div>
</div>