<div class="modal" id="modalCity">
	<div class="modal__body">
		<div class="modal__content">
			<a class="modal__close close-modal" href="#header">
				<svg class="close-modal__icon">
					<use href="img/icons/sprite.svg#close"></use>
				</svg>
			</a>
			<div class="modal__title">Мы работаем в следующих городах</div>
			<label class="modal__label" for="modal-search">
				<input class="modal__search" id="modal-search" type="text" placeholder="Введите город">
			</label>
			<div class="modal__slides modal-slides cities-wrap">
				<button class="city-list-btn city-list-btn--prev btn-reset">
					<svg class="city-list-btn__icon">
						<use href="img/icons/sprite.svg#slide-arrow-prev"></use>
					</svg>
				</button>

				<ul class="city-list list-reset">
				</ul>

				<button class="city-list-btn city-list-btn--next btn-reset">
					<svg class="city-list-btn__icon">
						<use href="img/icons/sprite.svg#slide-arrow-next"></use>
					</svg>
				</button>
			</div>
		</div>
	</div>
</div>